@use './reset.scss';

:root {
  --app-bg-color: #f5f7fa;
  --app-text-color: #303133;
}

html.dark {
  --app-bg-color: #141414;
  --app-text-color: #e5eaf3;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}